<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= oven.title %></h2>
      <p><%= oven.address %></p>
    </div>
    <h2 class="card-trip-pricing"><%= oven.price %> €/h</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<%# <%= cl_image_tag oven.photos.first.key, crop: :fill %>
