<div class="container" data-turbo="false">
  <div class ="cards">
    <% @ovens.each do |oven| %>
      <%= link_to oven_path(oven) do %>
        <%= render "ovens/card", oven: oven %>
      <% end %>
    <% end %>
  </div>
</div>
