#description {
  width: 70%;
}

#description:nth-child(1) {
  word-wrap: break-word;
}


#card-booking {
  width: 20%;
}

.cross-button {
  border: none;
  box-shadow: none;
  background-color: $light-gray;
}
