#description {
  width: 70%;
}

#description:nth-child(1) {
  word-wrap: break-word;
}


#card-booking {
  width: 20%;
}

.cross-button {
  border: none;
  box-shadow: none;
  background-color: $light-gray;
}

.global-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.bottom-card {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.bottom-card .btn-outline-warning {
  margin-right: 2px;
}


// Show booking
#linked-oven-title:hover {
  text-decoration: underline;
}
