.btn-cta {
  background-color: $oven-orange;
  color: white;
  font-weight: bold;
  box-shadow: 2 2 2 $light-gray;
  border-radius: 5px;

  &:hover {
    background-color: #e76d1b;
    box-shadow: 0 0 0 white;
    border-radius: 10px;
  }
}
