.social-media {
  color: $oven-text-faded-grey;
}

footer {
  height: 36px; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-color: white;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

footer a i {
  font-size: 1.5em;
}
